body {
    background: #F6F7A7;
    margin: 0px;
}

.mao_box {
    position: relative;
    top: 50x;
     /*width:424px;*/
}
.mao{
    margin: 0 auto;
    width:400px;

}
.mao_head{
    margin: 0 auto;
    width: 400px;
    height: 340px;
    background: #F6F7F2;
    position: relative;
    border-radius: 50% 50% 35% 35%;
    border: solid 2px #2e2e2e;
    overflow: hidden;
    z-index: 10;
}
.huawen {
    position: absolute;
    height: 160px;
    width: 180px;
    background: #8D8D8D;
    left: 110px;
    border-radius: 0% 0% 50% 50%;
 
}
.huawen > div:first-child {
        height: 160px;
        width: 90px;
        background: #F0AC6B;
    }